spring:
  application:
    name: springexample
---
spring:
  config:
    activate:
      on-profile: dev
server:
  port: 8080
---
spring:
  config:
    activate:
      on-profile: prod
server:
  port: 80
---
spring:
  config:
    activate:
      on-profile: default
server:
  port: 80